.emissary_colorzilla_bg_blue_fade {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 )!important; /* IE6-9 */
}
.emissary_colorzilla_bg_orange_fade {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ad7522+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(173,117,34,1) 0%, rgba(125,185,232,0) 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(173,117,34,1) 0%,rgba(125,185,232,0) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(173,117,34,1) 0%,rgba(125,185,232,0) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad7522', endColorstr='#007db9e8',GradientType=0 )!important; /* IE6-9 */
}
.emissary_colorzilla_bg_orange {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ad7522+0,824a1a+100 */
    background: rgb(173,117,34)!important; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(173,117,34,1) 0%, rgba(130,74,26,1) 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(173,117,34,1) 0%,rgba(130,74,26,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(173,117,34,1) 0%,rgba(130,74,26,1) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad7522', endColorstr='#824a1a',GradientType=0 )!important; /* IE6-9 */
}
