<!-- Argon Scripts -->
<!-- Core -->
<script src="<%-window.libURL%>libs/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="<%-window.libURL%>libs/vendor/js-cookie/js.cookie.js"></script>
<script src="<%-window.libURL%>libs/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="<%-window.libURL%>libs/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<!-- Optional JS -->
<script src="<%-window.libURL%>libs/vendor/chart.js/dist/Chart.min.js"></script>
<script src="<%-window.libURL%>libs/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="<%-window.libURL%>libs/js/argon.js?v=1.2.0"></script>
<!-- Emissary Core -->
<script src="<%-window.libURL%>libs/js/socket.io.js"></script>
