<!DOCTYPE html>
<html>

<head>
  <% include header-meta.ejs %>
  <!-- Powered by Shinobi, http://shinobi.video -->
  <% include header-title.ejs %>
  <!-- Favicon -->
  <% include header-favicon.ejs %>
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="<%-window.libURL%>libs/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="<%-window.libURL%>libs/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="<%-window.libURL%>libs/css/argon.css?v=1.2.0" type="text/css">
  <script src="<%-window.libURL%>libs/vendor/jquery/dist/jquery.min.js"></script>
  <script src="<%-window.libURL%>libs/vendor/jquery/jquery.serializeObject.min.js"></script>
  <script>var subscriptionId = '<%- config.subscriptionId || 'notActivated' %>'</script>
  <% cleanLang = function(string){
      if(!string){string=''}
      return string.replace(/'/g,"\\'")
  }%>
</head>
