<div class="card" id="pageVisits">
  <div class="card-header border-0">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Current Visitors</h3>
      </div>
      <div class="col text-right">
        <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Current Page</th>
          <th scope="col">Pages Open</th>
          <th scope="col">IP Address</th>
          <th scope="col">Visitors</th>
          <th scope="col">Time Arrived</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
