<script>
    var emissary = {
        groupKey: '<%- groupKey %>',
        authKey: '<%- authKey %>',
        connectionUrl: '<%- connectionUrl %>',
    }
</script>
<link rel="stylesheet" href="<%- connectionProtocol %>://<%- connectionUrl %>/libs/embed/embed.css" type="text/css">
<link rel="stylesheet" href="<%- connectionProtocol %>://<%- connectionUrl %>/libs/css/backgrounds.css" type="text/css">
<div id="emissary_chatWidgetButton" class="emissary_chatWidget_button emissary_chatWidget_flex emissary_colorzilla_bg_orange">😄</div>
<div id="emissary_chatWidget_preChat" class="emissary_chatWidget_preChat">
</div>
<div id="emissary_chatWidget" class="emissary_chatWidget">
    <div class="emissary_backdrop emissary_colorzilla_bg_orange_fade"></div>
    <div class="emissary_chatWidget_header emissary_chatWidget_flex">
        <div style="flex:1">
            <div class="emissary_chatWidget_profileIcon"></div>
        </div>
        <div style="flex:10"></div>
        <div class="emissary_chatWidget_close" title="Hide Chat Window">☠️</div>
    </div>
    <div class="emissary_chatWidget_body">
        <div class="emissary_chatWidget_chatRow emissary_chatWidget_bubble_yourMessage">
            <div>
                <div class="emissary_chatWidget_bubble emissary_boxShadow emissary_colorzilla_bg_orange">Test Text</div>
            </div>
            <small class="emissary_chatWidget_chatRow_footer">12-12-2020 01:00 PM</small>
        </div>
        <div class="emissary_chatWidget_chatRow emissary_chatWidget_bubble_theirMessage">
            <div>
                <div class="emissary_chatWidget_bubble emissary_boxShadow">Test Text</div>
            </div>
            <div class="emissary_chatWidget_chatRow_footer">12-12-2020 01:00 PM</div>
        </div>
    </div>
    <div class="emissary_chatWidget_footer">
        <div class="emissary_divider"></div>
        <input type="text" id="emissary_chatWidget_typeField" placeholder="What's on your mind?">
        <div class="emissary_chatWidget_flex" style="padding-top: 10px">
            <div style="flex: 1;padding-left: 10px">
                😉
            </div>
            <div style="flex: 1;">
                ⏏️
            </div>
            <div class="emissary_chatWidget_footerSupplements" style="flex: 10;padding-right: 10px">
                <small class="emissary_chatWidget_footerText">Powered by <a target="_blank" href="https://Shinobi.Systems">Shinobi.Systems</a></small>
            </div>
        </div>
    </div>
</div>
<script src="<%- connectionProtocol %>://<%- connectionUrl %>/libs/js/socket.io.js"></script>
<script src="<%- connectionProtocol %>://<%- connectionUrl %>/libs/embed/embed.js"></script>
<script src="<%- connectionProtocol %>://<%- connectionUrl %>/libs/embed/embed.websocket.js"></script>
