<% include blocks/header %>
<link rel="stylesheet" href="<%-window.libURL%>libs/vendor/bootstrap/css/bootstrap-login.css">
<link rel="stylesheet" href="<%-window.libURL%>libs/vendor/bootstrap/css/floating-labels.css">
<% if(screen){screen=screen.toLowerCase()} %>
<%
  var logoImageLink
  if(config.logoLocation76x76.indexOf('//') === -1){
      logoImageLink = window.libURL + config.logoLocation76x76
  }else{
      logoImageLink = config.logoLocation76x76
  }
%>
<form id="login-form" method="post">
  <div class="text-center mb-4">
    <img class="mb-4" src="<%- logoImageLink %>" style="<%- config.logoLocation76x76Style %>">
    <h1 class="h3 mb-3 font-weight-normal">Emissary</h1>
    <p>A thing to do things.</a></p>
  </div>

  <div class="form-label-group">
    <input type="email" name="mail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" name="pass" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <div class="form-group">
    <select class="form-control" name="function">
      <option value="dash" selected><%- lang.Dashboard %></option>
      <option value="super"><%- lang.Superuser %></option>
    </select>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" id="remember_me" value="1" name="remember"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted text-center">Emissary is a product of <a target="_blank" href="https://shinobi.systems">Shinobi Systems</a></p>
  <input type="hidden" name="machineID" id="machineID" value="">
</form>
<script>

    <% var failedLogin;if(failedLogin===true){ %>
        localStorage.removeItem('ShinobiLogin_'+location.host)
    <% } %>
    $.ccio={f:$('#login-form'),ls:localStorage.getItem('ShinobiLogin_'+location.host),auth:localStorage.getItem('ShinobiAuth_'+location.host)}
    $.ccio.gid=function(x){
        if(!x){x=10};var t = "";var p = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for( var i=0; i < x; i++ )
            t += p.charAt(Math.floor(Math.random() * p.length));
        return t;
    };
    if(!$.ccio.auth||$.ccio.auth===''){
        $.ccio.auth=$.ccio.gid(20)
        localStorage.setItem('ShinobiAuth_'+location.host,$.ccio.auth)
    }
    $(document).ready(function(){
        $('#machineID').val($.ccio.auth)
    })
    $.ccio.f.submit(function(e){
        $('input').css('border-color','')
        e.e=$(this),e.s=e.e.serializeObject(),e.inputs=e.e.find('input,button');
        if(e.s.remember){
            localStorage.setItem('ShinobiLogin_'+location.host,JSON.stringify({mail:e.s.mail,pass:e.s.pass,function:e.s.function}))
        }else{localStorage.removeItem('ShinobiLogin_'+location.host)}
    })
    if($.ccio.ls){
        $.ccio.ls=JSON.parse($.ccio.ls);
        $.each($.ccio.ls,function(n,v){
            n=$.ccio.f.find('[name="'+n+'"]')
            if(n.attr('type')==='checkbox'){
                n.prop('checked',true)
            }else{
                n.val(v)
            }
        });
        $.ccio.f.find('[name="remember"]').prop('checked',true);
        $.ccio.f.submit()
    }
    $('[name="function"]').change(function(){
        e={};
        e.removeClass='btn-danger btn-primary btn-success btn-warning'
        switch($(this).val()){
            case'streamer':
                e.addClass='btn-warning'
            break;
            case'admin':
                e.addClass='btn-primary'
            break;
            case'super':
                e.addClass='btn-danger'
            break;
            default:
                e.addClass='btn-success'
            break;
        }
        $('#login-submit').removeClass(e.removeClass).addClass(e.addClass)
    })
$('[selector]').change(function(e){
    e.v=$(this).val();e.a=$(this).attr('selector')
    $('.'+e.a+'_input').hide()
    $('.'+e.a+'_'+e.v).show();
    $('.'+e.a+'_text').text($(this).find('option:selected').text())
}).change();
</script>
</html>
