/* common */
.emissary_chatWidget_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.emissary_divider{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.emissary_divider:before{
    content: "";
    border-top: 1px solid #ddd;
    width: 85%;
    display: inline-block;
}
.emissary_chatWidget a {
    text-decoration: none;
}
.emissary_boxShadow {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
/* button */
.emissary_chatWidget_button {
    line-height: 1;
    height: 50px;
    width: 50px;
    font-size: 25pt;
    background: #03399b;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    z-index: 10;
    transition: 0.2s;
    /* no select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* chat window */
.emissary_chatWidget {
    font-family: system-ui;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    background: #fff;
    position: fixed;
    right: -100%;
    bottom: 40px;
    border: 1px solid #eee;
    transition: 0.5s;
    box-shadow: 0 0 15px #eee;
    overflow: hidden;
}
.emissary_backdrop {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
}
/* header */
.emissary_chatWidget_header {
    padding: 15px;
}
.emissary_chatWidget_close{

}
.emissary_chatWidget_profileIcon{
    line-height: 1;
    height: 50px;
    width: 50px;
    background: #03399b;
    border: 2px solid #eee;
    border-radius: 50%;
}
/* body */
.emissary_chatWidget_body{
    padding: 10px 10px 50px 10px;
}
/* chat row */
.emissary_chatWidget_chatRow{
    padding: 5px;
}
.emissary_chatWidget_chatRow.emissary_chatWidget_bubble_yourMessage{
    text-align: right;
}
.emissary_chatWidget_chatRow.emissary_chatWidget_bubble_theirMessage{
    text-align: left;
}
.emissary_chatWidget_bubble{
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    display: inline-block;
    max-width: 80%;
    color: #fff;
}
.emissary_chatWidget_chatRow.emissary_chatWidget_bubble_yourMessage .emissary_chatWidget_bubble{
    background:#3f94ff;
}
.emissary_chatWidget_chatRow.emissary_chatWidget_bubble_theirMessage .emissary_chatWidget_bubble{
    background:#8da3bf;
}
.emissary_chatWidget_chatRow_footer {
    color: #868686;
    margin-top: 4px;
    font-size: 8pt;
    opacity: 0;
    transition: 0.2s;
    text-shadow: 0 0 5px #eee;
}
.emissary_chatWidget_chatRow:hover .emissary_chatWidget_chatRow_footer {
    opacity: 1;
}
/* footer */
.emissary_chatWidget_footer{
    padding: 15px 0 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.emissary_chatWidget_footerSupplements {
    text-align: right;
    padding-top: 10px;
}
.emissary_chatWidget_footerText {
    color: #a0a0a0;
    font-size: 10pt;
}
.emissary_chatWidget_footer input {
    border: 0;
    border-radius: 15px;
    padding: 5px;
    color: #333;
    width: calc(100% - 24px);
    font-size: 13pt;
    margin: 0 12px 0 12px;
    outline: none;
}
.emissary_chatWidget_footer input::-webkit-input-placeholder {
    color: #d4d4d4;
}
.emissary_chatWidget_footer input::-moz-input-placeholder {
    color: #d4d4d4;
}
.emissary_chatWidget_footer input::-ms-input-placeholder {
    color: #d4d4d4;
}
.emissary_chatWidget_footer input::placeholder {
    color: #d4d4d4;
}
